<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlgorithmPowerChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <AlgorithmPowerChecker.Properties.Settings>
            <setting name="AlgorithmExePath" serializeAs="String">
                <value>F:\Experiment\CodinGames\GITC_solutions\GhostInTheCell_3params.exe</value>
            </setting>
            <setting name="RunnerPath" serializeAs="String">
                <value>-cp F:\Experiment\CodinGames\ghost-in-the-cell-modified_params\ RefereeRunner</value>
            </setting>
            <setting name="MinFactories" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxFactories" serializeAs="String">
                <value>9</value>
            </setting>
        </AlgorithmPowerChecker.Properties.Settings>
    </userSettings>
</configuration>